<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lamur.exchangesstudents">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign_in_fournisseur" />
        <activity android:name=".Admin_page" />
        <activity android:name=".Sign_up" />
        <activity android:name=".Ajout_service" />
        <activity android:name=".Liste_user" />
        <activity
            android:name=".Modifier_service"
            android:label="@string/title_activity_modifier_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Complete_Profil" />
        <activity android:name=".Select_Service" />
        <activity android:name=".Ajout_disponibilite" />
        <activity android:name=".Edit_disponibilite" />
        <activity android:name=".Sign_in_utilisateur" />
        <activity android:name=".Search_Disponibilite"></activity>
    </application>

</manifest>